@import url("reset.css");
@import url("settings/config.variables.css");
@import url("settings/config.z-indexes.css");
@import url("layout/header.css");
@import url("components/navigation.css");
@import url("components/layer.css");
@import url("forms/buttons.css");
@import url("page/PageAccueil.css");

.container {
  padding: 20 20px;
  margin: 20px 20px;
  max-width: 800px;
}

.container-A {
  background-color: rgba(216, 64, 64, 0.8);
  box-shadow: 0 0 5px 1px #600000;
  border-radius: 10px;
}
