@import url("reset.css");
@import url("settings/config.variables.css");
@import url("settings/config.z-indexes.css");
@import url("layout/header.css");
@import url("components/navigation.css");
@import url("components/layer.css");
@import url("forms/buttons.css");
@import url("page/PageAccueil.css");
@import url("components/footer.css");

.container {
  padding: 20 20px;
  margin: 20px 20px;
  max-width: 800px;
}

.container-A {
  background-color: rgba(216, 64, 64, 0.8);
  box-shadow: 0 0 5px 1px #600000;
  border-radius: 10px;
}

/* Style pour l'image de fond */
.img-fond {
  position: fixed; /* ou absolute si tu veux qu’elle scrolle avec la page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5; /* plus lisible en pourcentage */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-fond img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
