body.has-menu-opened .main-nav {
  display: block;
}

.main-nav {
  position: absolute;
  z-index: var(--z-index-main-nav);
  background: #fff;
  height: 100vh;
  top: 0;
  left: 0;
  right: 20%;

  display: none;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-nav ul li a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .main-nav ul li a {
    color: rgb(255, 255, 255);
  }
}

.main-nav ul li a:hover,
.main-nav ul li a.selected {
  background: red;
  color: #fff;
  transform: translateY(-2px);
}

.main-nav_footer ul {
  display: flex;
  gap: 0.5rem;
  padding: 5px;
  margin: 5px;
}

.main-nav_footer li {
  flex: 1;
}

.openMainNav {
  display: block;
}

@media (min-width: 768px) {
  .openMainNav {
    display: none;
  }

  .main-nav {
    position: static;
    height: auto;
    background: none;
    display: block;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav ul {
    display: flex;
  }

  .closeMainNav {
    display: none;
  }

  .openMainNav {
    display: none;
  }
}

.openMainNav {
  visibility: visible;
}


@media (min-width: 768px) {
  .openMainNav {
    visibility: hidden; 
  }
}

.main-nav ul {
  padding-top: 40px;
}

.main-nav ul li {
  a {
    position: relative;
    transition: color 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      left: 25px;
      bottom: 10px;
      height: 2px;
      width: 0;
      background-color: red;
      transition: width 0.3s ease;
    }

    &:hover,
    &.selected {
      color: red;
      background: none;

      &::after {
        width: calc(100% - 50px); // padding left + right
      }
    }
  }
}
