.btn {
  flex: 1;
  padding: 0.75rem;
  background-color: #eeeeee;
  color: var(--color-3);
  border: 2px solid var(--color-3);
  border-radius: 30px;
  transition: background 0.3s ease;
}

.btn-login {
  background-color: var(--color-3);
  border-color: var(--color-1);
  color: var(--color-1);
}
